@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';




@font-face {
    font-family: 'amiri';
    font-style: normal;
    font-weight: 400;
    src: url("~font/amiri.woff2") format('woff2');
  }



*{
    font-family: "amiri", serif;
}

